.container h2.main-logo {
	background-color: rgba(0,0,0,0.5);
	margin: 5% 1% 0px 1% !important;
	padding-top: 7%;
	padding-bottom: 7%;
}
.home-upcoming-event {
	padding-top:80px;
	padding-bottom:100px;
	background-image:url(../images/guitarra.png);
}
@media(max-width: 480px) {
	.container h2.main-logo {
		margin-top: 25% !important;
	}
	.home-upcoming-event {
		padding-bottom:0px;
	}
	#lista-eventos-antigos {
		margin-top: 0px !important;
	}
}
.home-upcoming-event.home-2 {
	background-image:url(../images/world-1920x1132.png);
}
body.theme-light .home-upcoming-event {
	background-image:url(../images/world_light.png);
}
.home-successful-event {
	padding-top:96px;
	padding-bottom:80px;
	background-color:#262626;
}
body.theme-light .home-successful-event {
	background-color: #f7f7f7;
}
.home-album {
	padding-top:100px;
	padding-bottom:100px;
	background-color:#2f2f2f;
}
body.theme-light .home-album {
	background-color: #ffffff;
}
.home-news {
	padding-top:100px;
	padding-bottom:100px;
	background-color:#262626;
}
body.theme-light .home-news {
	background-color: #efefef;
}
.home-go-top {
	background-color:#2f2f2f;
}
body.theme-light .home-go-top {
	background-color: #ffffff;
}
.home-service {
	padding-top:30px;
	padding-bottom:75px;
	background-color:#2f2f2f;
}
body.theme-light .home-service {
	background-color: #ffffff;
}
.service-item {
	padding-top:30px;
}
.contact-content {
	margin-top:50px;
	margin-bottom:80px;
}

